<table class="table table-dark table-sm table-striped">
  <thead>
  <caption>{{title}}</caption>
  <tr>
    <th>Name</th>
    <th>Last name</th>
    <th>Fiscal Code</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Province</th>
    <th>Age</th>
    <th>Action</th>
  </tr>
  </thead>
  <!-- con ngIf condizioniamo la view dei dati così che funzioni solo dopo che ha fatto la subscribe.
  tramite async consumiamo lo stream di dati, viene fatta automatica la subscribe e ci consegna i dati. mettiamo
un alias per la risposta a questa chiamata. Quando hai fatto la subscribe passa i dati alla variabile users
quindi users verrà letto come array e non più come stream di dati  -->
  <tbody *ngIf=" (users$ | async) as users">
    <tr app-user *ngFor="let user of users" id="{{user.id}}" [user-data]="user" (onSelectUser)="onSelectUser($event)"
      (onDeleteUser)="onDeleteUser($event)">

    </tr>
  </tbody>

</table>
